*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1250px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px; 
}

.logo{
    position: relative;
    left: -93px;
    top: -20px;    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

.coloums{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.ttimgs{
    flex-basis: 60%;
    min-width: 400px;
    padding-top: 40px;  
}

.ttimgs img{
    max-width: 100%;
    padding: 50px 0;
}

.rows{
    flex-basis: 30%;
    min-width: 200px;
    padding:  50px 0;
}

.rows h1{
        color:rgba(0, 0, 0, 0.623);
        line-height: 35px;
        position: relative;
        top: 20px; 
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 30px;
    position: relative;
    top: 20px;  
   
}

.btn:hover{
    background-color: darkred;
    cursor: pointer;
    transition: 1s;
    transform: translatex(10px);
}

.header{
    
    background: linear-gradient(330deg, #ff6f69 29%, #ffcc5c 29%) ;
}

.header .coloums{
    margin-top: 45px;
}

.catagories{
    margin-top: 70px;
    margin-bottom: 40px;
}

.cat{
    padding: 10px ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catimg{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 2px 7px black;
    transition: 0.5s ease-in-out;
    margin-bottom: 30px;
}


.catimg:hover{
    transform: translateY(20px);
}

.catimg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
}


.catimg:hover::before{
    opacity: 1;
}


.catimg .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.catimg:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.catimg .info h4{
    margin: 0;
    font-weight: bold;
    line-height:19px;
    font-size: 18px;
    color:rgba(0, 0, 0, 0.623); 
}

.catimg .info p{
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
}

.catimg img{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.catimg .info .rating .fa{
    color: #ff523b;
    margin-bottom: 17px;
}

.catimg .info .addcartt{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
}

.catimg .info .addcartt:hover{
    box-shadow: 0px 7px 7px black;
    font-size: 17px;
}

.small-container{
    max-width: 1110px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.popimg{
    flex-basis: 24%;
    min-width: 200px;
    margin-top: -30px;
    margin-bottom: 50px;
    padding: 10px;
    transition: transform 0.5s;
}

.popimg img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 50px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50px);
}

h4{
    color: #555;
    font-weight: normal;
}

.popimg p{
    font-size: 15px;
}

.rating .fa{
    color: #ff523b;
}

.popimg:hover{
    transform: translateY(-15px);
    cursor: pointer;
}

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 30px 0;

}

.subb{
    max-width: 1110px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.ro{
     width: 300px;
    height: 370px;
    margin: 30px;
}

.ro img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ros {
        flex-basis: 34%;
        min-width: 200px;
        padding:  50px 0;
}

.ros p{
    margin-bottom: 33px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

.ros h1{
    margin-bottom: 17px;
    font-size: 39px;
}

.battan{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin-top: 32px ;
    border-radius: 30px;
    position: relative;
 
}


.battan:hover{
    background-color: darkred;
    cursor: pointer;
    transition: 1s;
    transform: translatex(10px);
}

.testimonial{
    padding-top: 50px;
}

.testimonial .akj{
    text-align: center;
    padding: 40px 20px;
    background-color: rgb(232, 228, 228);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    transition: transform .5s;
    border-radius: 8px;
}

.testimonial .akj:hover{
    transform:  translateY(-10px);
}

.design{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.designer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap ;
}

.akj{
    flex-basis: 30px;
    min-width: 250px;
    margin-bottom: 30px;
}

.akj img{
    width: 50%;
    margin-top: 20px;
    border-radius: 50%;
}

.akj .fa-slack{
    font-size:22px;
    color: #d45240;
    margin-bottom: 22px;
}

.akj h3{
    font-weight: 600;
    color: #555;
}

.testimonial .akj p{
    font-size: 11px;
    color: #777;
}

.footer{
    background-color: #000;
    width: 100%;
    padding-bottom: 30px;
    margin-top: 50px; 
    padding-top: 10px;
}

.containesr{
    max-width: 1250px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px; 
}

.copyright{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap ;
}

.app{
    padding: 3px 20px;    
}

.app img{
    margin-left: -50px;
}

.app h2{
    color: rgb(228, 155, 86);
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
}

.app h3{
    color: #777;
    margin-top: 13px;
    font-weight: 450;
    line-height: 20px;
}

.about{
    padding: 3px 20px;    
    flex-basis: 30px;
    min-width: 350px;
}

.about h2{
    color: rgb(228, 155, 86);
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
}

.about p{
    color: #777;
    margin-top: 13px;
    font-weight: 450;
    line-height: 20px;
}

.footer .container{
        max-width: 1080px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
}

.links{
    padding: 3px 20px;    
    flex-basis: 30px;
    min-width: 200px;
}

.links h2{
    color: rgb(228, 155, 86);
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 8px; 
}

.links ul li a{
    color: #777;
    font-weight: 450;
}

.links ul li a:hover{
    text-decoration: underline;
    color: #d45240;
}

.sub{
    padding: 3px 20px;    
    flex-basis: 30px;
    min-width: 250px;
}

.sub h2{
    color: rgb(228, 155, 86);
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 6px;
}

.sub input[type=text]{
    width: 200px;
    padding: 8px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.subscribe{
    display: inline-block;
    background:rgb(228, 155, 86);
    color: rgb(22, 21, 21);
    padding: 5px 15px;
    margin-top: 8px;
    margin-left: 50px;
    border-radius: 20px;
    position: relative;
    font-weight: 550;
}


.subscribe:hover{
    opacity: 0.7;
    cursor: pointer;
}

.footer hr{
    border: none;
    background: rgb(228, 155, 86);
    height: 1px;
    margin: 25px 100px;
}

.social{
    padding: 3px 20px;    
    flex-basis: 30px;
    min-width: 50px;   
    align-items: center;
    display: flex;
    justify-content: center;
}

.social .fa {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 7px;
    border-radius: 6px;
}
  
.social .fa:hover {
     opacity: 0.7;
}
  
.fa-facebook {
    background: rgb(228, 155, 86);
    color:black;
    padding: 5px 15px;
}

.fa-twitter{
    background: rgb(228, 155, 86);
    color:black;
    padding: 5px 9px;
}

.fa-linkedin{
    background: rgb(228, 155, 86);
    color:black;
    padding: 5px 11px;
}

.fa-instagram{
    background: rgb(228, 155, 86);
    color:black;
    padding: 5px 11px;
}

.copy2022 p{
    color: rgb(172, 168, 168);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}



/*           Responsive       */

@media only screen and (max-width:  800px){

    nav ul{
        position: absolute;
        top: 70px;
       left: 24.5%;
        background-color:rgb(37, 37, 37);
        text-align: center;
        width: 30%;    
        margin: auto;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        color:  rgb(228, 155, 86);
        font-weight: 600;
    }

    nav ul li a:hover{
        text-decoration: underline;
        color: #d45240;
    }

}

@media only screen and (max-width: 600px){
    .coloums{
        text-align: center  ;
    }
    .copyright{
        text-align: center  ;
    }
    .designer{
        text-align: center  ;
    }
    .cat{
        text-align: center  ;
    }


    .rows{
        flex-basis: 100%;
    }

    .popimg{
        flex-basis: 100%;
    }

    .popimg h4{
        font-size: 26px;
        margin-top: 10px;
        line-height: 30px;
    }

    .popimg p{
        font-size: 23px;
        margin-top: 5px;
    }

    .popimg .fa{
        font-size: 25px;
        margin-top: 4px;
    }

    .akj{
        flex-basis: 60%;
    }
    
    .app{
        flex-basis: 100%;
    }

    .app img{
        margin-left: 0px;   
    }

    .about{
        flex-basis: 100%;
    }

    .links{
        flex-basis: 100%
    }

    .sub{
        flex-basis: 100%;
    }

    .sub .subscribe{
        margin-right: 50px;
        margin-top: 7px;
    }

    .social{
        flex-basis: 100%;
    }

    .copyright{
        flex-basis: 100%;
    }
    
}
